## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [155]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [176]:
sample_list_1 = (random.sample(range(100), k=80))

print(sample_list_1)

[61, 34, 18, 73, 16, 64, 45, 88, 74, 35, 93, 24, 92, 37, 43, 89, 44, 10, 0, 42, 41, 60, 51, 2, 20, 81, 15, 17, 21, 32, 63, 55, 25, 80, 40, 84, 13, 79, 85, 33, 36, 77, 6, 67, 71, 29, 49, 90, 46, 38, 5, 27, 23, 48, 1, 95, 30, 54, 75, 3, 31, 59, 86, 62, 52, 39, 87, 76, 56, 94, 53, 28, 68, 70, 72, 99, 78, 65, 11, 91]

In [177]:
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [158]:
set1 = set(sample_list_1)

In [178]:
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [175]:
sample_list_2 = []

for n in range(80):
    sample_list_2.append(random.randrange(0,100))
    
print(sample_list_2)

len(sample_list_2)

[65, 41, 97, 97, 2, 95, 10, 16, 61, 35, 32, 75, 69, 26, 41, 96, 48, 94, 70, 95, 52, 29, 82, 12, 97, 20, 48, 76, 22, 48, 47, 69, 28, 7, 30, 56, 99, 97, 74, 96, 70, 73, 61, 6, 35, 34, 14, 42, 51, 70, 26, 29, 41, 84, 32, 85, 99, 96, 96, 25, 56, 34, 65, 17, 64, 3, 68, 99, 43, 26, 54, 21, 20, 16, 6, 30, 40, 6, 61, 22]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [174]:
set2 = set(sample_list_2)

type(set2)

print(set2)

len(set2)

{0, 2, 3, 4, 6, 7, 9, 10, 13, 14, 16, 19, 20, 21, 22, 24, 25, 28, 31, 33, 34, 35, 36, 37, 38, 40, 41, 46, 48, 50, 54, 55, 59, 60, 62, 63, 65, 68, 69, 70, 71, 72, 74, 77, 78, 79, 80, 81, 84, 85, 87, 91, 92, 97, 98, 99}

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [162]:
# Can be also done with 'set3 = set1 - set2'

set3 = set1.difference(set2)

print(set3)

{5, 8, 11, 12, 15, 17, 18, 23, 26, 29, 30, 32, 39, 42, 45, 47, 49, 51, 52, 53, 57, 58, 61, 64, 66, 67, 73, 76, 82, 86, 88, 89, 90, 93, 94, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [163]:
# Same as the previous one 'set4 = set2 - set1'

set4 = set2.difference(set1)

print(set4)

{3, 99, 37, 38, 71, 9, 13, 14, 79, 16, 54, 91, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [164]:
# Can be also done with 'set_i = set2 - set4' or 'set1 - set3'

set5 = set1.intersection(set2)

print(set5)

{0, 2, 4, 6, 7, 10, 19, 20, 21, 22, 24, 25, 28, 33, 34, 35, 36, 40, 41, 46, 48, 50, 55, 59, 60, 62, 63, 65, 68, 69, 70, 72, 74, 77, 78, 80, 81, 84, 85, 87, 92, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [179]:
# set3 = set1 - set5
# set4 = set2 - set5
# set5 = set1 - set3 or set2 - set4
print(f"Set 3 is formed by the substraction of set5 from set1, and the result is: {len(set1) - len(set5)}")
print(f"Set4 is formed by the substraction of set5 from set2, and the result is: {len(set2) - len(set5)}")
print(f"Set5 is formed by the substraction of set3 from set1 or set4 from set2: {len(set1) - len(set3)}")

Set 3 is formed by the substraction of set5 from set1, and the result is: 37
Set4 is formed by the substraction of set5 from set2, and the result is: 13
Set5 is formed by the substraction of set3 from set1 or set4 from set2: 43

#### Create an empty set called `set6`.

In [120]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [171]:
set6.update(set3, set5)

print(set6)

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 36, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [152]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [153]:
set1.issubset(set2)

False

In [154]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [169]:
lst_set = [set1, set4, set5]

print(set().union(*lst_set))

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [172]:
print(set1)

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 36, 39, 40, 41, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98}

In [180]:
# The elements from a set do not have any order. In this case the set1.pop() deleted the number 0
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [185]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)
    else:
        pass
    
print(set1)

len(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 15, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 40, 42, 45, 46, 47, 48, 50, 52, 53, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}

66